body{
    background-color: black;
    margin: 0;
    padding: 0;
}


/*-----------------------------------------Header------------------------------------------------------------*/

header{
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image:linear-gradient( to right,rgba(0, 0, 0, 0.94),rgba(219, 93, 0, 0.6) );
}

#logo{
    display: inline-block;
    height: 4rem;
    vertical-align: top;
    
    
}

#logo img{
    border-radius: 40px;;
}

.header-div img{
    height: inherit;
    object-fit: contain;
}

#fav p{
    color: azure;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
   
    font-family:sans-serif
    
}
#fav a{
     text-decoration: none;
}

/*-----------Search----------*/
#nav{
    display:inline-block;
    right:0;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;;
  align-items: center;
    
}

.container div{
    margin:0 0.5rem;
}

input[type=text]{
    max-width: 200px;
  position: relative;
  padding: 8px 40px 8px 20px;
  width:100%;
  color: #f5e5e5;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 50px;
  background-color: rgba(82, 82, 82, 0.99);
  transition: width 0.4s ease;
  outline: none;
}

#search-icon{
  position: relative;
  left: -37px;
  color: #050505;
}

#bell-icon{
    position: relative;
    color:white;
}

#user-image{
    height: inherit;
    border-radius: 50%;
    margin: 0 20px;
    height:50px;
    width:50px;
    object-fit: cover;
}


/*=================================================footer===================================================================*/
.container-f{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   display: flex;

    position: absolute;
}

.text-container {
    background-image:linear-gradient( to right,rgba(250, 10, 197, 0.94),rgb(245, 108, 7) );
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 100;
    
 
}
.song-description{
    width:30%;
    padding-top: 10px;
}
.song-controls{
    padding-top: 5px;
    width:70%;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.text {
  color: #ffffff;
  display: block;
}
.song-controls button {
  background: #000000;
  color: #ffffff;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000000),
    to(#262626)
  );
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0px 15px;
  width: 55px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
input[type="range"] {
    
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 5px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #232323;
  outline: none;
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
}
#seek {
  display: block;
  width: 230px;
}

#seekbar{
    position: relative;
    top:5px;
}

div.feature {
        position: relative;
    }

div.feature a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.lightbox {
    position: fixed absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: left;
    transition: all 1s ease-in-out;
}

#content-box {
    
    overflow: hidden;
    min-width: 300px;
    position: relative;
    left: -20px;
}

.lightbox:target {
    height: 100%;
    width: 100%;
}

#playlist a{
    color: white;
    text-decoration: none;
}

#pa-container{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/as2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#as{
    color: white;
}


#playlist{
    color:white;
    position: relative;
    padding: 5px;
    background-image:linear-gradient( to right,rgba(0, 0, 0, 0.94),rgba(219, 93, 0, 0.6) );
}

.pl{
    list-style: none;
}
.song{
    background-color: rgb(26, 26, 26);
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-bottom: 15px;
    position:relative;
    left:-20px;
    padding-right:10px;
    cursor: pointer;
    
}

.song:hover{
    background-color: rgb(46, 45, 45);
}

.img-cover{
    height:70px;
    width:70px;
    align-self: flex-start;
}
.img-cover img{
    object-fit: cover;
    height:100%;
    width:100%;
    
}
.song-d{
    font-family: sans-serif;
    height:70px;
    position:relative;
    top:-15px;
   
    flex-shrink: 1;
}

.heart{
    position: relative;
    top:20px;
    z-index: 10;
}

.song-name{
    font-size: 1.5em;
}

.artist-name{
    position: relative;
    top:-16px;
}

.heart:hover{
    color:red;
}